DATA_INPUT_DIR={{Path to where the data is stored}}
OUTPUT_DIR={{Preferred overall output directory for all products}}
# Obtained per-user from 1CDP, see https://1cdp.cdc.gov/workspace/tokens
FOUNDRY_TOKEN={{Foundry token for accessing Foundry data}}
# Host unchanged across all users
FOUNDRY_HOST=1cdp.cdc.gov
# Dataset RID or name key searchable inside data/rid_tags.json
FOUNDRY_DATASET=global_L0_national_clean_daily
